.terraform
*-export

# vscode directory
.vscode

# templates
/new_service
templates/new_service/terraform/domains/infrastructure/.terraform.lock.hcl
templates/new_service/terraform/domains/infrastructure/vendor/
templates/new_service/terraform/domains/environment_domains/.terraform.lock.hcl
templates/new_service/terraform/domains/environment_domains/vendor/
templates/new_service/terraform/application/.terraform.lock.hcl
templates/new_service/terraform/application/vendor/

# terraform modules
cluster/terraform_kubernetes/vendor/modules/aks
airbyte/terraform/vendor/modules/aks
custom_domains/terraform/infrastructure/vendor/

# macOS files
.DS_Store

# Ignore Jetbrains IDE settings
.idea
