groups:
- name: Node file system
  rules:
  - alert: High disk usage for node
    expr: avg by (nodename,mountpoint) (1 - node_filesystem_avail_bytes/node_filesystem_size_bytes) > 0.875
    for: 5m
    annotations:
      summary: High disk usage for node {{ $labels.nodename }} mountpoint {{ $labels.mountpoint }}
      description: "The disk usage has been above 87.5% in the last 5 minutes (current value: {{ $value | humanizePercentage }})"
    labels:
      severity: high
      cluster: ${cluster_long}
      receiver: SLACK_WEBHOOK_GENERIC

  - alert: KubernetesNodeMemoryPressure
    expr: kube_node_status_condition{condition="MemoryPressure",status="true"} == 1
    for: 2m
    annotations:
      summary: Kubernetes Node memory pressure (instance {{ $labels.instance }})
      description: "Node {{ $labels.nodename }} has MemoryPressure condition\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
    labels:
      severity: critical
      cluster: ${cluster_long}
      receiver: SLACK_WEBHOOK_GENERIC

  - alert: KubernetesNodeDiskPressure
    expr: kube_node_status_condition{condition="DiskPressure",status="true"} == 1
    for: 2m
    annotations:
      summary: Kubernetes Node disk pressure (instance {{ $labels.instance }})
      description: "Node {{ $labels.nodename }} has DiskPressure condition\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
    labels:
      severity: critical
      cluster: ${cluster_long}
      receiver: SLACK_WEBHOOK_GENERIC
