apiVersion: apps/v1
kind: Deployment
metadata:
  name: calculate-teacher-pay-maintenance
  labels:
    app: calculate-teacher-pay-maintenance
spec:
  replicas: 2
  selector:
    matchLabels:
      app: calculate-teacher-pay-maintenance
  template:
    metadata:
      labels:
        app: calculate-teacher-pay-maintenance
    spec:
      nodeSelector:
        teacherservices.cloud/node_pool: applications
        kubernetes.io/os: linux
      containers:
      - name: calculate-teacher-pay-maintenance
        image: ghcr.io/dfe-digital/teacher-pay-calculator-maintenance:#MAINTENANCE_IMAGE_TAG#
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: 64M
            cpu: 0.1
          limits:
            memory: 64M
            cpu: 1
