filebeat.autodiscover:
  providers:
      - type: kubernetes
        templates:
          - condition:
              equals:
                kubernetes.annotations.logit.io/send: "true"
            config:
              - type: filestream
                id: filestream-kubernetes-$${data.kubernetes.container.id}
                prospector.scanner.symlinks: true
                parsers:
                  - container: ~
                paths:
                  - "/var/log/containers/*-$${data.kubernetes.container.id}.log"
        add_resource_metadata:
          node:
            enabled: false
          deployment: true

# Global processors run AFTER enrichment and after all inputs
processors:
  - drop_fields:
      fields:
      - agent.ephemeral_id
      - agent.id
      - agent.name
      - agent.version
      - agent.type
      - ecs.version
      - container.runtime
      - container.id
      - host.name
      - kubernetes.pod.uid
      - kubernetes.namespace_uid
      - kubernetes.labels
      - kubernetes.namespace_labels.kubernetes_io/metadata_name
      - log.offset
      - log.file.path
      - input.type

output.logstash:
  hosts: ["${BEATS_URL}"]
  loadbalance: true
  ssl.enabled: true
