logging.level: debug
filebeat.autodiscover:
  providers:
      - type: kubernetes
        templates:
          - condition:
              and:
                - equals:
                    kubernetes.annotations.logit.io/send: "true"
                - not:
                    equals:
                      kubernetes.labels.app.kubernetes.io/name: "ingress-nginx"
            config:
              - type: container
                paths:
                  - "/var/log/containers/*-$${data.kubernetes.container.id}.log"
          - condition:
              and:
                - equals:
                    kubernetes.annotations.logit.io/send: "true"
                - equals:
                    kubernetes.labels.app.kubernetes.io/name: "ingress-nginx"
            config:
              - module: nginx
                ingress_controller:
                  enabled: true
                  var.paths:
                      - "/var/log/containers/*-$${data.kubernetes.container.id}.log"
                  input:
                    symlinks: true
        add_resource_metadata:
          node:
            enabled: false
          deployment: true

output.logstash:
  hosts: ["${BEATS_URL}"]
  loadbalance: true
  ssl.enabled: true
